<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>sessionDemo</servlet-name>
        <servlet-class>org.elementary.forum.servlets.SessionDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>cookieDemo</servlet-name>
        <servlet-class>org.elementary.forum.servlets.CookieDemo</servlet-class>
    </servlet>

  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>org.elementary.forum.SimpleServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>topicPosts</servlet-name>
    <servlet-class>org.elementary.forum.servlets.TopicPostsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>topics</servlet-name>
    <servlet-class>org.elementary.forum.servlets.TopicsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>createPost</servlet-name>
    <servlet-class>org.elementary.forum.servlets.CreatePostServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>newTopic</servlet-name>
    <servlet-class>org.elementary.forum.servlets.NewTopicCreatorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>userTopicServlet</servlet-name>
    <servlet-class>org.elementary.forum.servlets.UserTopicServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>topicPosts</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>topics</servlet-name>
    <url-pattern>/topics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createPost</servlet-name>
    <url-pattern>/pages/createPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newTopic</servlet-name>
    <url-pattern>/new_topic</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>sessionDemo</servlet-name>
        <url-pattern>/demo/sessionDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookieDemo</servlet-name>
        <url-pattern>/demo/cookieDemo</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userTopicServlet</servlet-name>
    <url-pattern>/user-topic</url-pattern>
  </servlet-mapping>
</web-app>
