<?xml version="1.0" encoding="UTF-8"?>

<web-app
    version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
  </context-param>

  <filter>
    <filter-name>SimpleFilter</filter-name>
    <filter-class>org.elementary.forum.servlets.FilterDemo</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SimpleFilter</filter-name>
    <url-pattern>/demo/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>mvc-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessionDemo</servlet-name>
    <servlet-class>org.elementary.forum.servlets.SessionDemo</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>cookieDemo</servlet-name>
    <servlet-class>org.elementary.forum.servlets.CookieDemo</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>org.elementary.forum.SimpleServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>topicPosts</servlet-name>
    <servlet-class>org.elementary.forum.servlets.TopicPostsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>topics</servlet-name>
    <servlet-class>org.elementary.forum.servlets.TopicsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>createPost</servlet-name>
    <servlet-class>org.elementary.forum.servlets.CreatePostServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>newTopic</servlet-name>
    <servlet-class>org.elementary.forum.servlets.NewTopicCreatorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>showAllUsers</servlet-name>
    <servlet-class>org.elementary.forum.servlets.ShowAllUsersServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>showBannedUsers</servlet-name>
    <servlet-class>org.elementary.forum.servlets.ShowBannedUsersServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ban</servlet-name>
    <servlet-class>org.elementary.forum.servlets.BanServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>unlock</servlet-name>
    <servlet-class>org.elementary.forum.servlets.UnlockServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>topicPosts</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>topics</servlet-name>
    <url-pattern>/topics</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>showAllUsers</servlet-name>
    <url-pattern>/ShowAllUsers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>showBannedUsers</servlet-name>
    <url-pattern>/ShowBannedUsers</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>ban</servlet-name>
    <url-pattern>/Ban</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>unlock</servlet-name>
    <url-pattern>/Unlock</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>createPost</servlet-name>
    <url-pattern>/pages/createPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newTopic</servlet-name>
    <url-pattern>/new_topic</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sessionDemo</servlet-name>
    <url-pattern>/demo/sessionDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cookieDemo</servlet-name>
    <url-pattern>/demo/cookieDemo</url-pattern>
  </servlet-mapping>

<!--  <welcome-file-list>-->
<!--    <welcome-file>pages/topics.jsp</welcome-file>-->
<!--  </welcome-file-list>-->

</web-app>
